<div class="span2 hidden-phone">
	<div class="tag_nav">
		<%= link_to "Recent", root_path, class: 'tag_list' %>
  	<div id="tag_cloud">
			<% tag_cloud Pin.tag_counts.order("name asc"), %w[s m l] do |tag, tag_list| %>
  			<%= link_to tag.name, tag_path(tag.name), class: "tag_list" %>
			<% end %>
		</div>	
	</div>
	<div class="twitter-share">
	 <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sketchmine.co/" data-text="Check out Sketchmine, a great collection of free .sketch files" data-via="MaximeCormier">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>	
  </div>
</div>