<%= render 'sidetag' %>

<div class="span10">
	<div class="row-fluid ">
    <% flash.each do |name, msg| %>
    	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  	<% end %>

		<%= render @pins %>
		
	</div>
	<div class="pagination">
			<%= will_paginate @pins %>
		</div>
</div>
