<h4><strong>What is Sketchmine?</strong></h4>
<h4>Sketchmine is a list of free .sketch files designed by the sketch community.</h4>
<br>
<h4><strong>How can I submit a .sketch file?</strong></h4>
<h4>Click the submit button and fill the requested fields.</h4>
<br>
<h4><strong>Who's behind Sketchmine?</strong></h4>
<h4><a href="http://twitter.com/maximecormier">Maxime Cormier</a>, also behind <a href="http://oocto.com">oocto</a> and <a href="http://folkapp.com">Folk</a>.</h4>
<br>
<h4><strong>How can I get in touch?</strong></h4>
<h4>Just send me an email at maxime@sketchmine.co</h4>
